# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# Android
android/**/gradle-wrapper.jar
.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/release

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
